<header class="header">
	<h1>todos</h1>
	<h4 class="logout"><a href="#">Logout</a></h4>
</header>
<section>
	<form>
		<input class="new-todo" placeholder="What needs to be done?" autofocus="" type="text">
	</form>
</section>
<section>
	<ul class="todo-list"></ul>
</section>
